@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'Outfit', sans-serif;
    min-height: 100%;
    /*This defines what 1rem is*/
    font-size: 62.5%;
    color: #000;
}

html {
    height: 100%;
}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * .8);
    padding-left: calc(var(--bs-gutter-x) * .8);
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Outfit', sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 0;
}

h1 {
    font-size: 3.4rem;
    font-weight: 500;
}

h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

h3 {
    font-size: 2.2rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #989898;
}

p {
    font-size: 1.6rem;
    font-weight: normal;
    color: #989898;
}

.sub-label {
    font-weight: 500;
    font-size: 13px;
}

.figcaption {
    font-weight: 500;
    font-size: 13px;
}


/*========================
Text Colors
========================*/

.text-vivid-red {
    color: #f92323;
}

.text-dark-gray {
    color: #5a5a5a;
}


/*========================
Background Colors
========================*/

.bg-white {
    background-color: #fff;
}

.bg-light-gray {
    background-color: #f2f2f2;
}


/*========================
Preset Styling
========================*/

.opacity-half {
    opacity: .5;
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-25 {
    border-radius: 25px;
}

.thumb-grow {
    transition: all .2s ease-in-out;
}

.thumb-grow:hover {
    transform: scale(1.07);
    text-decoration: none;
}

.thumb-grow-small {
    transition: all .2s ease-in-out;
}

.thumb-grow-small:hover {
    transform: scale(1.02);
    text-decoration: none;
}


/*========================
Buttons
========================*/

.btn {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13;
    color: #fff;
    border-radius: 25px;
}

.btn-primary {
    box-shadow: 4px 3px 16px 0 rgba(0, 0, 0, 0.06);
    background-color: #e61c24;
    border-color: #e61c24;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: 4px 3px 16px 0 rgba(0, 0, 0, 0.06);
    color: #e61c24 !important;
    background-color: #fff;
    border-color: #e61c24;
    text-transform: uppercase;
}


/*========================
Alerts
========================*/

.alert {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 0;
    border-radius: 8px;
}

.alert-danger {
    padding: 23px 25px;
    color: #842029;
    border: solid 1px #f5c2c7;
    background-color: #f8d7da;
}

.alert-success {
    color: #0e5d16;
    border: solid 1px rgba(28, 167, 42, 0.36);
    background-color: rgba(28, 167, 42, 0.22);
}

.alert-dark {
    font-size: 2rem;
    font-weight: 500;
    color: #5a5a5a;
    border: solid 1px rgba(0, 0, 0, 0.27);
    background-color: rgba(0, 0, 0, 0.09);
}


/*========================
Pills
========================*/

.pill {
    display: inline-block;
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    padding: 11px 14px;
    border-radius: 21px;
    margin-left: 18px;
    text-transform: uppercase;
    color: #fff;
}

.pill-danger {
    background-color: #e61c24;
}

.pill-success {
    background-color: #1ca72a;
}

.pill-dark {
    background-color: #545252;
}

.pill-blue {
    background-color: #0b2af2;
}

.pill-pink {
    background-color: #f20bb4;
}

.pill-strong-red {
    background-color: #be1e2d;
}


/*========================
Main Navigation
========================*/

.main-navigation {
    margin-top: 7.8rem;
}

.main-navigation .navbar {
    position: relative;
    border-radius: 27px;
    background-color: #000;
    padding: 1.9rem;
    padding-left: 22rem;
}

.main-navigation .navbar .navbar-brand {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
    width: 14rem;
}

.main-navigation .navbar .navbar-toggler {
    margin-left: auto;
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.main-navigation .navbar .navbar-toggler-icon {
    background-image: url('../images/icons/ico-toggle.svg');
    width: 2.5rem;
    height: 2.5rem;
}

.main-navigation .navbar ul li a {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13;
    color: #fff;
    text-transform: uppercase;
}

.main-navigation .navbar .btn {
    padding: 14px 19px 16px 21px;
}

@media only screen and (max-width: 991px) {
    .main-navigation .navbar ul li a {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .main-navigation .navbar {
        padding-left: 1.9rem;
    }
    .main-navigation .navbar .navbar-brand {
        width: 9rem;
    }
}


/*========================
Home Page
========================*/


/* Hero Banner */

.hero-banner {
    margin-top: 16.5rem;
}

.hero-banner img {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 991px) {
    .hero-banner {
        margin-top: 8.5rem;
    }
}

@media only screen and (max-width: 575px) {
    .hero-banner {
        margin-top: 6.5rem;
    }
}


/* Products Accordion */

.products-accordion {
    margin-top: 8rem;
}

.products-accordion .accordion .accordion-item {
    border: 0 solid rgba(0, 0, 0, 0);
    margin: 15px 0;
}

.products-accordion .accordion .accordion-header {
    margin-bottom: 35px;
}

.products-accordion .accordion .accordion-item .accordion-button {
    position: relative;
    flex-direction: column;
    font-size: 3.4rem;
    font-weight: 500;
    color: #000;
    align-items: flex-start;
    padding: 1rem 5rem 1rem 0;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: transparent;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.accordion-button::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-image: url('../images/icons/ico-arrow.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.accordion-button:not(.collapsed)::after {
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(-180deg);
    background-image: url('../images/icons/ico-arrow.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.products-accordion .accordion .accordion-item .accordion-button span.sub-label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    color: #842029;
}

.products-accordion .accordion .accordion-item .accordion-collapse {
    background-color: #f2f2f2;
}

.products-accordion .accordion .accordion-item .accordion-collapse .accordion-body {
    padding: 5.8rem 0 9.4rem 0;
    margin-bottom: 6rem;
}

.products-accordion .accordion .accordion-item .accordion-collapse .accordion-body .row:not(:last-child) {
    margin-bottom: 5rem;
}

@media only screen and (max-width: 575px) {
    .products-accordion .accordion .accordion-item .accordion-button {
        font-size: 2.4rem;
    }
}


/*========================
Product Styling
========================*/

.card.product-card {
    background-color: transparent;
    border: none;
    justify-content: space-between;
    height: 100%;
}

.card.product-card .card-content {
    margin-bottom: 15px;
}

.card.product-card .card-content img {
    margin-bottom: 15px;
}

.card.product-card .card-content h5 {
    text-transform: uppercase;
}

.card.product-card .card-content p {
    margin: 15px 0;
}

.card.product-card .card-content h3 {
    color: #f92323;
}

.card.product-card .btn {
    position: relative;
    text-align: left;
    width: fit-content;
    padding: 17px 86px 17px 20px;
}


/*========================
View Cart
========================*/


/* View Cart Hero Banner */

.viewCart {
    margin-top: 16.5rem;
}

.viewCart h1 {
    display: inline-block;
}


/*========================
Order Success
========================*/

.orderSuccess {
    margin-top: 16.5rem;
    margin-bottom: 15.6rem;
}

.orderSuccess .alert-success {
    padding: 23px 48px;
}

.orderSuccess .alert-dark {
    padding: 25px;
}

.orderSuccess .alert-dark h4:not(:last-child) {
    margin-bottom: 15px;
}


/*========================
Order History
========================*/

.orderHistory.cart-items {
    margin-top: 16.5rem;
    padding: 0;
}

.orderHistory .container:not(:last-child) {
    margin-bottom: 4rem;
}

.orderHistory .bg-light-gray {
    padding: 4rem 4rem 5rem 4rem;
}

.orderHistory .bg-light-gray .row:nth-child(1) {
    margin-bottom: 7rem;
}


/*========================
Order Charters
========================*/

.orderCharters.cart-items {
    margin-top: 16.5rem;
    padding: 0;
}

.orderCharters .container:not(:last-child) {
    margin-bottom: 4rem;
}

.orderCharters .bg-light-gray {
    padding: 4rem 4rem 5rem 4rem;
}

.orderCharters .bg-light-gray .btn.btn-primary {
    padding: 15px 45px;
}

.orderCharters .bg-light-gray hr:not([size]) {
    height: 3px;
    background-color: #d1d1d1;
}


/*========================
Order Admin
========================*/

.orderAdmin.cart-items {
    margin-top: 16.5rem;
    padding: 0;
}

.orderAdmin .nav-tabs {
    border-bottom: none;
}

.orderAdmin .nav-tabs li {
    opacity: 0.2;
}

.orderAdmin .nav-tabs li.active {
    opacity: 1;
}

.orderAdmin .nav-tabs li:not(:last-child) {
    margin-right: 3.5rem;
}

.orderAdmin .nav-tabs li a {
    font-size: 34px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    text-decoration: none;
}

.orderAdmin .container:not(:last-child) {
    margin-bottom: 4rem;
}

.orderAdmin .bg-light-gray {
    padding: 4rem 4rem 5rem 4rem;
}

.orderAdmin .bg-light-gray .btn.btn-primary {
    padding: 15px 45px;
}

.orderAdmin .bg-light-gray hr:not([size]) {
    height: 3px;
    background-color: #d1d1d1;
}


/*========================
Cart Items
========================*/

.cart-items {
    margin-top: 25px;
    padding: 3.2rem 0 4.7rem;
    background-color: #f2f2f2;
}

.cart-items .row:not(:last-child) {
    margin-bottom: 35px;
}

.cart-items h5 {
    margin: 10px 0;
}

.cart-items label {
    font-size: 1.6rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #989898;
}

.cart-items select,
.cart-items input,
.cart-items select:focus,
.cart-items input:focus {
    font-size: 2.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    border-radius: 10px;
    border: solid 1px #dfdfdf;
    background-color: #fff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.cart-items select {
    padding: 15px 20px;
}

.cart-items input {
    padding: 15px 22px;
    text-align: center;
}

.cart-items button {
    border: none;
}

.cart-items .btn.btn-primary {
    padding: 17px 90px 17px 20px;
}


/*========================
Footer
========================*/

footer {
    padding: 10rem 0;
}

footer hr:not([size]) {
    height: 3px;
    background-color: #d1d1d1;
}

@media only screen and (min-width: 1200px) {
    footer img {
        max-width: 445px !important;
    }
}

footer h5 {
    color: #686666;
}

footer a {
    font-size: 3.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    footer a {
        font-size: 2.5rem;
        font-weight: 500;
    }
}

@media only screen and (max-width: 575px) {
    footer a {
        font-size: 2rem;
        font-weight: 500;
    }
}