@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'Outfit', sans-serif;
    min-height: 100%;
    /*This defines what 1rem is*/
    font-size: 62.5%;
    color: #000;
}

html {
    height: 100%;
}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * .8);
    padding-left: calc(var(--bs-gutter-x) * .8);
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Outfit', sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 0;
}

h1 {
    font-size: 3.4rem;
    font-weight: 500;
}

h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

h3 {
    font-size: 2.2rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #989898;
}

p {
    font-size: 1.6rem;
    font-weight: normal;
    color: #989898;
}

.sub-label {
    font-weight: 500;
    font-size: 13px;
}

.figcaption {
    font-weight: 500;
    font-size: 13px;
}


/*========================
Preset Styling
========================*/

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-25 {
    border-radius: 25px;
}

.thumb-grow {
    transition: all .2s ease-in-out;
}

.thumb-grow:hover {
    transform: scale(1.07);
    text-decoration: none;
}

.thumb-grow-small {
    transition: all .2s ease-in-out;
}

.thumb-grow-small:hover {
    transform: scale(1.02);
    text-decoration: none;
}


/*========================
Buttons
========================*/

.btn {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13;
    color: #fff;
    border-radius: 25px;
}

.btn-primary {
    box-shadow: 4px 3px 16px 0 rgba(0, 0, 0, 0.06);
    background-color: #e61c24;
    border-color: #e61c24;
}


/*========================
Main Navigation
========================*/

.main-navigation {
    margin-top: 7.8rem;
}

.main-navigation .navbar {
    position: relative;
    border-radius: 27px;
    background-color: #000;
    padding: 1.9rem;
    padding-left: 22rem;
}

.main-navigation .navbar .navbar-brand {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
    width: 14rem;
}

.main-navigation .navbar ul li a {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13;
    color: #fff;
    text-transform: uppercase;
}

.main-navigation .navbar .btn {
    padding: 14px 19px 16px 21px;
}


/*========================
Home Page
========================*/


/* Hero Banner */

.hero-banner {
    margin-top: 16.5rem;
}

.hero-banner img {
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero-banner .alert {
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 23px 25px;
    color: #842029;
    border: solid 1px #f5c2c7;
    background-color: #f8d7da;
}


/* Products Accordion */

.products-accordion {
    margin-top: 8rem;
}

.products-accordion .accordion .accordion-item {
    border: 0 solid rgba(0, 0, 0, 0);
    margin: 35px 0;
}

.products-accordion .accordion .accordion-item .accordion-button {
    position: relative;
    flex-direction: column;
    font-size: 3.4rem;
    font-weight: 500;
    color: #000;
    align-items: flex-start;
    padding: 1rem 0
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: transparent;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.accordion-button::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-image: url('../images/arrow.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.accordion-button:not(.collapsed)::after {
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(-180deg);
    background-image: url('../images/arrow.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.products-accordion .accordion .accordion-item .accordion-button span.sub-label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    color: #842029;
}

.products-accordion .accordion .accordion-item .accordion-collapse {
    background-color: #f2f2f2;
}

.products-accordion .accordion .accordion-item .accordion-collapse .accordion-body {
    padding: 1rem 0;
}


/*========================
Footer
========================*/

footer {
    padding: 10rem 0;
}

footer hr:not([size]) {
    height: 3px;
    background-color: #d1d1d1;
}

footer img {
    width: 445px;
}

footer h5 {
    color: #686666;
}

footer a {
    font-size: 3.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    text-decoration: none;
}